@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  background-image: url('./img/background_image.png');
}

/* 
Delete bullets and underline 
*/

a,
.second-section ul {
  text-decoration: none;
  list-style: none;
}

/* 
Navbar section 
*/

.nav-bar {
  display: flex;
  padding: 20px;
  font-size: 0.8rem;
}

.nav-bar ul {
  flex: 1;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-bar header {
  flex: 3;
}

.nav-bar header {
  color: #6070ff;
  font-size: 1rem;
  font-weight: bold;
}

/* 
Main section 
*/

.main-section {
  display: flex;
  flex-direction: column;
  padding: 100px 25%;
}

.main-section > * {
  padding: 20px;
}

.main-section h1 {
  font-weight: 900;
  color: #091e42;
}
.main-section h3 {
  color: #344563;
}

/* 
second section
*/

.second-section ul {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.second-section ul li {
  padding: 5px;
}

.second-section ul li a img:hover {
  color: rgb(97, 97, 240);
}

.second-section h3 {
  color: #7f8cff;
}
